<ion-menu contentId="main-content">
  <ion-header >
    <ion-toolbar >
      <ion-title>GAMES</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">  
    <ion-button routerLink="/one" routerLinkActive="active" class = "btn-block" expand = "block" color="light">Basketball</ion-button><br>
    <ion-button routerLink="/two" routerLinkActive="active" class = "btn-block" expand = "block" color="light">Volleyball</ion-button><br>
    <ion-button routerLink="/three" routerLinkActive="active" class = "btn-block" expand = "block" color="light">Boxing</ion-button><br>
    <ion-button routerLink="/four" routerLinkActive="active" class = "btn-block" expand = "block" color="light">Billiards</ion-button><br>
    <ion-button routerLink="/five" routerLinkActive="active" class = "btn-block" expand = "block" color="light">Taekwando</ion-button><br>
    <ion-button routerLink="/six" routerLinkActive="active" class = "btn-block" expand = "block" color="light">Sepak Takraw</ion-button><br>
    <ion-button routerLink="/seven" routerLinkActive="active" class = "btn-block" expand = "block" color="light">Arnis</ion-button><br>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home">Philippine Sports</a>
        </div>
      </nav>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div id="carouselExampleIndicators" class="carousel slide container-fluid" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
      </div>
      <div class="carousel-inner my-5">
        <div class="carousel-item active" data-bs-interval="2000">
          <img src="assets/basket.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Basketball</h5>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="assets/wolle.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Volleyball</h5>
        </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="assets/boxing.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Boxing</h5>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="assets/bill.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>billiard</h5>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="assets/taek.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Taekwando</h5>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="assets/sepak.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Sepak Takraw</h5>
          </div>
        </div>
        <div class="carousel-item " data-bs-interval="2000">
          <img src="assets/arnis.jfif" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Arnis</h5>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="card mb-3">
    <div class="card text-center">
      <div class="card-header">
         <h4>NUEVA 104 VS 89 PAMPANGA</h4>
      </div>
      <a href = "https://www.dugout.ph/2022/11/nueva-ecija-pulls-away-late-to-take.html" ><img src="assets/nue.jpg" class="card-img-bottom" alt="..."></a>
      <hr>
      <div class="card-body my-3">
        <h4 class="card-title">	
          Nueva Ecija takes MPBL Finals opener</h4>
        <p class="card-text">Playing for the first time after two weeks, the Rice Vanguards still looked sharp against a Giant Lanterns side that had to survive an epic first-round series finale against the Bataan Risers three nights ago, opening a 60-45 lead with 7:24 left in the third quarter.<br><br>

          Pampanga, however, came alive right after and was just down by two, 77-79, with 7:25 remaining in the fourth quarter.<br><br>
          
          The road team, however, lost steam in the end as the host squad reasserted its mastery in the final seven minutes of the game, even stretching the lead to as high as 19, 104-85, with 1:16 left.<br><br>
        
          Nueva Ecija averted disaster at home and blasted off in the endgame to beat Pampanga, 104-89, in Game 1 of their MPBL Northern Division semifinal series on Monday night at the Nueva Ecija Coliseum in Palayan.</p>
        
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card text-center">
      <div class="card-header">
         <h4>CREAMLINE VS CHERY TIGGO</h4>
      </div>
      <a href="https://www.rappler.com/sports/volleyball/game-results-creamline-cool-smashers-chery-tiggo-crossovers-november-29-2022/"><img src="assets/crea.webp" class="card-img-bottom" alt="..."></a>
      <hr>
      <div class="card-body my-3">
        <h5 class="card-title">	
          Chery Tiggo ends Creamline’s Grand Slam bid as Petro Gazz clinches PVL finals</h5>
        <p class="card-text">Alyssa Valdez and the Creamline Cool Smashers end their 7-conference finals streak and historic Grand Slam bid with a bittersweet 5-set win over the Chery Tiggo Crossovers<br><br>

          The Chery Tiggo Crossovers – already eliminated from PVL finals contention – played the ultimate spoiler role after ending the Creamline Cool Smashers’ Grand Slam bid with a third-set demolition on the way to a five-set loss, 16-25, 25-20, 25-14, 11-25, 9-15, on Tuesday, November 29.<br><br>
          
          Due to Creamline only getting 2 points in the five-set win, the defending Reinforced Conference champion Petro Gazz Angels clinched the second finals berth after taking down fellow eventual finalist Cignal HD Spikers in four sets in the first game of the day’s double-header at the PhilSports Arena.<br><br>
        </p>
        
      </div>
    </div>
  </div>
    <div class="card mb-3">
    <div class="card text-center">
      <div class="card-header">
         <h4>CARLO PAALAM VS MAKHMUD SABYRKHAN</h4>
      </div>
      <a href = "https://www.rappler.com/sports/boxing/fight-results-carlo-paalam-makhmud-sabyrkhan-asian-elite-boxing-championships-november-12-2022/"><img src="assets/box.webp" class="card-img-bottom" alt="..."></a>
      <hr>
      <div class="card-body my-3">
        <h5 class="card-title">	
          Carlo Paalam stuns top seed to capture gold in Asian Boxing Championships</h5>
        <p class="card-text">Carlo Paalam pulls off a split decision win over Kazakhstan's Makhmud Sabyrkhan to rule the men's bantamweight division of the ASBC Asian Elite Boxing Championships<br><br>

          The Philippines will return home from the ASBC Asian Elite Boxing Championships in Amman, Jordan, with a gold medal thanks to Carlo Paalam.<br><br>
          
          Paalam captured the men’s bantamweight crown after gutting out a 4-1 split decision win over top seed Makhmud Sabyrkhan of Kazakhstan in the finals on Saturday, November 12.<br><br>
        </p>
        
      </div>
    </div>
  </div> 
   <div class="card mb-3">
    <div class="card text-center">
      <div class="card-header">
         <h4>PHILIPPINES COPS WORLD 10-BALL TEAM TITLE</h4>
      </div>
      <a href="https://tiebreakertimes.com.ph/tbt/philippines-cops-world-10-ball-team-title/249792?fbclid=IwAR2YpbVcgLY69NftJ8H_QrW5TyEhat9VduO1hmEp127x-lhYtQ_H_6YnRHA"><img src="assets/bil.jpg" class="card-img-bottom" alt="..."></a>
      <hr>
      <div class="card-body my-3">
        <h5 class="card-title">	
          The Philippines are back on top in 10-ball.</h5>
        <p class="card-text">The trio of Rubilen Amit, Carlo Biado, and Johann Chua defeated Great Britain’s Kelly Fisher, Jayson Shaw, and Darren Appleton, 4-3, 4-3, 4-1, to win the 2022 Predator World 10-ball Teams Championship, Sunday in Klagenfurt, Austria.<br><br>

          This was a perfect redemption for the Filipinos, who finished in second place back in 2014 in China.<br><br>
          
          The Philippines had reached this year’s final with a shootout victory over Germany.

Amit and Biado had to dig deep before the mixed pair of Amit and Biado completed the sweep.<br><br>
        </p>
        
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card text-center">
      <div class="card-header">
         <h4>TEAKWANDO</h4>
      </div>
      <a href="https://www.pna.gov.ph/articles/1188833"><img src="assets/TEA.jpg" class="card-img-bottom" alt="..."></a>
      <hr>
      <div class="card-body my-3">
        <h5 class="card-title">	
          UST wins 5 golds in taekwondo at PSC Women's Festival</h5>
        <p class="card-text">Jocel Lyn Ninobla of the University Santo Tomas (UST) topped the individual recognized poomsae event in taekwondo in the final day of the 8th Women's Martial Arts Festival at the Rizal Memorial Coliseum in Manila on Thursday.<br><br>

          Sofia Ysabelle Sarmiento of La Salle took the silver medal while Mikee Rose Regala (La Salle) and Stella Nicole Yape (UST) settled for the bronze medals.<br><br>
          <br>
        </p>
        
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card text-center">
      <div class="card-header">
         <h4>ARNIS</h4>
      </div>
      <a href="https://news.abs-cbn.com/sports/09/19/22/sea-games-arnis-debuts-as-medal-sport-overseas"><img src="assets/arni.webp" class="card-img-bottom" alt="..."></a>
      <hr>
      <div class="card-body my-3">
        <h5 class="card-title">	
          Arnis debuts as medal sport in overseas SEA Games in Cambodia</h5>
        <p class="card-text">For the first time in the Southeast Asian Games, the Filipino martial art of arnis will be a medal sport outside of the country in the 32nd edition of the regional sportsfest to be held from May 5 to 16, 2023, in the Phnom Penh, Cambodia and the northwestern Cambodian city of Siem Reap.<br><br>

          Arnis was included in the calendar 49 sports and 608 events that the Philippine Olympic Committee announced Sunday, a milestone that Senate President Miguel Zubiri, who is the Philippine Eskrima Kali Arnis Federation president and chairman, acknowledged.<br><br>
          
          With 20 golds up for grabs, the discipline was a major contributor to the country’s overall success in the Philippine SEA Games in 2019, delivering 14 gold, four silver and two bronze medals at the Angeles University Foundation Sports and Cultural Center in Angeles city, Pampanga.<br><br>
        </p>
      </div>
    </div>
  </div>
   
<footer class="text-center text-lg-start bg-light text-muted">

   <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
     
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
     
    <div>
      SPORTS
    </div>
   
  </section>
   <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 all rights reserved
    <br>
    BY:
    <p>Aldrin I. Dela Cruz</p>
    <p>John Francis I. Cajucom</p>
    <p>Yvander A. Domingo</p>
    <p>Mary Anne M. Ferrer</p>
    
  </div>

</footer>

  </ion-content>
</div>