<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>GAMES</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">  
    <ion-button routerLink="/one" routerLinkActive="active" class = "btn-block" expand = "block" color="light">Basketball</ion-button><br>
    <ion-button routerLink="/two" routerLinkActive="active" class = "btn-block" expand = "block" color="light">Volleyball</ion-button><br>
    <ion-button routerLink="/three" routerLinkActive="active" class = "btn-block" expand = "block" color="light">Boxing</ion-button><br>
    <ion-button routerLink="/four" routerLinkActive="active" class = "btn-block" expand = "block" color="light">Billiards</ion-button><br>
    <ion-button routerLink="/five" routerLinkActive="active" class = "btn-block" expand = "block" color="light">Taekwondo</ion-button><br>
    <ion-button routerLink="/six" routerLinkActive="active" class = "btn-block" expand = "block" color="light">Sepak Takraw</ion-button><br>
    <ion-button routerLink="/seven" routerLinkActive="active" class = "btn-block" expand = "block" color="light">Arnis</ion-button><br>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home">Philippine Sports</a>

        </div>
      </nav>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
   
  </ion-content>
</div>