<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>GAMES</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">  
    <ion-button routerLink="/one" routerLinkActive="active" class = "btn-block" expand = "block" color="light">Basketball</ion-button><br>
    <ion-button routerLink="/two" routerLinkActive="active" class = "btn-block" expand = "block" color="light">Volleyball</ion-button><br>
    <ion-button routerLink="/three" routerLinkActive="active" class = "btn-block" expand = "block" color="light">Boxing</ion-button><br>
    <ion-button routerLink="/four" routerLinkActive="active" class = "btn-block" expand = "block" color="light">Billiards</ion-button><br>
    <ion-button routerLink="/five" routerLinkActive="active" class = "btn-block" expand = "block" color="light">Taekwondo</ion-button><br>
    <ion-button routerLink="/six" routerLinkActive="active" class = "btn-block" expand = "block" color="light">Sepak Takraw</ion-button><br>
    <ion-button routerLink="/seven" routerLinkActive="active" class = "btn-block" expand = "block" color="light">Arnis</ion-button><br>
  </ion-content>
 </ion-menu>
 <div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home">Philippine Sports</a>

        </div>
      </nav>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">


      <ion-card>
        <img src="assets/vballmen.jpg" />
        <ion-card-header>
          <ion-card-title>VOLLEYBALL MEN'S PHILIPPINES</ion-card-title>
          <ion-card-subtitle> SEA GAMES</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          The Philippine national men's volleyball team is leaving no stones unturned as they try to end the country's gold medal drought in the Southeast Asian Games.
          Head coach Dante Alinsunurin revealed that the Philippine National Volleyball Federation (PNVF) is eyeing to send the squad to a training camp in Qatar in preparation 
          for the Vietnam Games set on May 12 to 23 in Hanoi. However, the decorated mentor did not delve into details as they are still waiting for the formal go-signal from the 
          federation. "We haven't started with the training yet, maybe this week or next week," Alinsunurin told GMA News Online in a message on Wednesday. 
          "I don't have the full details yet but they plan to send us to a training camp in Qatar." PNVF released in January the training pool for both men's and women's teams 
          as well as the beach volleyball squads who will represent the country come the biennial meet. The men's team was hardly tweaked, still bannered by players who gave 
          the country a silver medal during the 2019 SEA Games. Skipper John Vic De Guzman will continue to lead the nationals alongside veterans Ysay Marasigan, Kim Malabunga, 
          Rex Intal, Francis Saura, Jessi Lopez, Mark Alfafara, and Ish Polvorosa.

        </ion-card-content>
      </ion-card>
   
      <ion-card>
        <img src="assets/vballfemale.jpg" />
        <ion-card-header>
          <ion-card-title>VOLLEYBALL WOMEN'S PHILIPPINES</ion-card-title>
          <ion-card-subtitle> SEA GAMES</ion-card-subtitle>
        </ion-card-header>

       <ion-card-content>
        The Philippine Women’s National Volleyball Team (PWNVT) just released its final playing roster for the upcoming 2022 Southeast Asian Games (SEAG) in Hanoi, Vietnam.
        Eager to bounce back from a back-to-back fourth-place finish during the last two SEAG appearances, the Philippine National Volleyball Federation (PNVF) is going all out 
        this 2022 and formed the best team possible for a gold medal finish. PNVF president Ramon “Tats” Suzara bared the initial list of the PHL national women’s squad and added 
        superstars Alyssa Valdez, Jia Morado, and Kath Arado. The star trio was absent in the previous national team that competed in the 2021 Women’s Club Volleyball Championships 
        in Thailand and is seeking to make an impact in their return to the pool. Aside from them, the PNVF also made a surprising call-up to two high school stalwarts in Casiey 
        Dongallo and Jelaica Gajero of the California Academy. Completing the list of the national team pool are: Iris Tolenada, Jasmine Nabor, Deanna Wong, Dawn Macandili, 
        Ria Meneses, Dell Palomata, Aby Marano, Ces Molina, Kat Tolentino, Jema Galanza, Kim Dy, Kalei Mau, Jaja Santiago, Mylene Paat, and Dindin Santiago-Manabat.
      
       </ion-card-content>
      </ion-card>
   

   
